.reserve {
    /* border: none;
    width: 400px;
    height: 300px; */
    height: 630px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
    background-color: lightblue;
  }
/*   
  .room,
  .children {
    display: flex;
    padding: 20px;
    border: 1px solid rgb(104, 104, 104);
    width: 250px;
    margin-top: 20px;
  }
  
  .inputs {
    border: none;
    margin-left: 20px;
    font-size: x-large;
    font-weight: 500;
    width: 20px;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 400;
  }
  .decNum,
  .incNum {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid black;
    background-color: white;
    font-size: x-large;
    font-weight: 500;
  }
   */
   .reserve {
    border: none;
    display: flex;
    height: 625px;
    background-color: lightblue;
  }
  .hotelinfo{
    display: flex;
    flex-direction: column;
  }
  .hotelinfo div{
    font-weight: 800
  }
  .inputs {
    border: none;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
    font-size: large;
    width: 200px;
    font-weight: 100;
    border: 1px solid wheat;
    color: black;
  }
  .buttons {
  background-color: blueviolet;
    font-weight: 400;
  }
  
  .button-50 {
    appearance: button;
    background-color: #4D4AE8;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
    border: 1px solid #4D4AE8;
    border-radius: 1rem;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
    text-align: center;
    text-transform: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-left: 100px;
    margin-top: 100px;
    width: 200px;
   
  }
  
  .button-50:focus:not(:focus-visible),
  .button-50:focus {
    outline: 0;
  }
  
  .button-50:hover {
    background-color: #3733E5;
    border-color: #3733E5;
  }
  
  .button-50:focus {
    background-color: #413FC5;
    border-color: #3E3BBA;
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
  }
  
  .button-50:active {
    background-color: #3E3BBA;
    background-image: none;
    border-color: #3A38AE;
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
  }
  
  .button-50:active:focus {
    box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
  }
  
  .button-50:disabled {
    background-image: none;
    box-shadow: none;
    opacity: .65;
    pointer-events: none;
  }
  .form-2{
    margin-left: 100px;
    margin-top: 30px;
  }